<head>
    <title>Canvas testi</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.min.js"></script>
	<script src="../image-ribbon-plugin.js"></script>
	<style type="text/css">
	   #productImg {
	       margin-left: 50px;
	       margin-top: 50px;
	   }
	</style>
</head>

<body>
	<canvas id="productImg" width="290" height="360">
	</canvas>
</body>

<script>
    $(document).ready(function() {
        $('#productImg').ribbon({ 
            imgSrc: 'http://sokos.s-verkkokauppa.fi/wcsstore/SOK_StorefrontAssetStore/images/product/iso/7391762850440.jpg',
            texts: ['Uutuus', 'Temppeli', 'Kuningaskoobra'],
            fontSize: 16
        });
    });
</script>